<!DOCTYPE html>
<html>
  <head>
    <title>givefive Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Thanks for your suggestion!</h1>

    <h3>You submitted the information below...</h3>

    <div style="padding-left:25px">
    <strong>Name  </strong><%- sub_name %> <br>
    <strong>Email </strong><%- sub_email %> <br><br>
    <strong>Cause Name </strong><%- sub_causeTitle %> <br>
    <strong>Cause Website </strong><%- sub_causeSite %> <br>
    <strong>Description </strong><%- sub_causeDesc %> 
    </div>

<br><br>
    <a href="../">Return Home</a>
    </ul>
  </body>
</html>